<h2 class="subtitulo">Modificar animales</h2>
<main>
    <section class="form-container">
        <form id="form-animal">
            <div class="form-grid">
                <div class="form-columns">
                    <!-- COLUMNAS A LA IZQUIERDA -->
                    <div class="form-left">
                        <div class="form-field">
                            <label for="codigo">ID:</label>
                            <input type="text" id="codigo" placeholder="Ingresa Código a buscar" required />
                        </div>

                        <div class="form-field" id="contenedor-tipo">
                            <label for="tipo">Sexo:</label>
                            <select id="tipo" >
                                <option value="">-- Tipo --</option>
                                <option value="toro">Toro</option>
                                <option value="hembra">Hembra</option>
                            </select>
                        </div>

                        <div class="form-field" id="contenedor-fechaN">
                            <div class="label-largo">
                                <label for="fechaNacimiento">Fecha de nacimiento:</label>
                            </div>
                            <input type="date" id="fechaNacimiento"  />
                        </div>

                        <!-- solo terneros -->
                        <div id="campo-amamantado" style="display:none;">
                            <div class="form-field">
                                <div class="label-largo">
                                    <label for="campo-amamantado">Tiempo amamantado:</label>
                                </div>
                                <input type="number" id="tiempoAmamantado" placeholder="Meses amamantado" min="0" />  
                            </div>
                        </div>
                        <!-- meter en div correspondiente -->
                        <div id="estadoAnimalContainer" style="display: none;">
                            <div class="form-field"><div class="label-largo"><label>Estado Actual:</label></div></div>
                            <label id="estadoAnimal" class="estado-actual">Activo</label>
                        </div>
                    </div>
                    
                    <!-- COLUMNAS A LA DERECHA -->
                    <div class="form-right">
                        <!-- solo hembras adultas -->
                        <div id="campos-partos" style="display:none;">
                            <div class="form-field">
                                <div class="label-largo">
                                    <label for="campos-partos">Número de partos:</label>
                                </div>
                                <input type="number" id="numeroPartos" placeholder="Nº de partos" min="0" />
                            </div>
                            <div class="partos" id="contenedor-intervalos">
                                    
                            </div>
                        </div>
                    </div>

                    <div id="accionesAnimal" style="display: none;">
                        <h2 class="subtitulo">Acciones</h2>
                        <button id="btnMarcarMuerto" class="btn btn-warning">Marcar como Muerto</button>
                        <button id="btnMarcarVendido" class="btn btn-warning">Marcar como Vendido</button>
                    </div>

                    <div class="form-buttons">
                        <button type="button" id="btn-guardar">Guardar</button>
                        <button type="button" id="btn-cancelar" style="display:none;">Cancelar</button>
                    </div> 
                </div>
            </div>    
        </form>
        <div id="notificacion" class="notificacion oculto"></div>     
    </section>
</main>
        