<h2 class="subtitulo">Mostrar Todo</h2>
<main>
    <div class="filtros-animales">
        <label for="filtro-tipo">Filtrar por tipo:</label>
        <select id="filtro-tipo">
            <option value="todos">Todos</option>
            <option value="toro">Toros</option>
            <option value="hembra">Vacas</option>
            <option value="ternero">Terneros</option>
        </select>
    </div>

    <div class="lista-animales">
        <div class="tabla-responsive">
            <table class="tabla-animales">
                <thead id="tabla-head"></thead>
                <tbody id="lista-animales"></tbody>
            </table>
        </div>
    </div>
</main>
        