<section class="form-container">
    <form id="form-animal">
        <input type="text" id="codigo" placeholder="Código identificador" required />

        <select id="tipo" required>
            <option value="">-- Tipo --</option>
            <option value="toro">Toro</option>
            <option value="hembra">Hembra</option>
        </select>

        <label for="fechaNacimiento">Fecha de nacimiento:</label>
        <input type="date" id="fechaNacimiento" required />

        <!-- solo terneros -->
        <div id="campo-amamantado" style="display:none;">
            <input type="number" id="tiempoAmamantado" placeholder="Meses amamantado" min="0" />
        </div>

        <!-- solo hembras adultas -->
        <div id="campos-partos" style="display:none;">
            <input type="number" id="numeroPartos" placeholder="Nº de partos" min="0" />
            <div id="contenedor-intervalos">
                <input type="text" class="intervalo" placeholder="Ej: Primer Parto: 2023-08-12" />
            </div>
        </div>
        <div class="form-buttons">
            <button type="submit" id="btn-guardar">Guardar</button>
            <a class="back-button" href="#">Volver</a>
        </div>       
    </form>
</section>
<button type="button" id="agregar-intervalo">Agregar otro evento</button>

<h2>Animales registrados</h2>
<ul id="lista-animales"></ul>
        