<section id="main-menu">
  <a class="menu-button" href="#/agregar">Agregar</a>
  <!-- <a class="menu-button" href="#/eliminar">Eliminar y buscar</a>
  <a class="menu-button" href="#/modificar">Modificar</a>
  <a class="menu-button" href="#/mostrar-todos">Mostrar todo</a>
  <a class="menu-button" href="#/mostrar-vacas">Mostrar Vacas</a>
  <a class="menu-button" href="#/mostrar-toros">Mostrar Toros</a>
  <a class="menu-button" href="#/mostrar-terneros">Mostrar Terneros</a>
  <a class="menu-button" href="#/informes">Informes</a> -->
</section>
